.button1{   
    position: relative;
    width: 185px;
    height: 51px;
    background: linear-gradient(108.62deg, blue 20.49%, #7879F1 46.52%, #A5A6F6 78.55%);
    border-radius: 25.5px;
    top: 10px;
    left: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .button2{
    position: relative;
    width: 185px;
    height: 51px;
    background: -webkit-linear-gradient(70deg, #C3D600, #C3D600 50%, #A5B400 50%);
    background: -o-linear-gradient(20deg, #C3D600, #C3D600 50%, #A5B400 50%,);
    background: linear-gradient(20deg, #C3D600, #C3D600 50%, #A5B400 50%,);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(111, 111, 111, 0.25);
    border-radius: 25.5px;
    top: 31px;
    left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    }

    .button3{
    position: relative;
    width: 185px;
    height: 51px;
    color: #36454a;
    background: -webkit-linear-gradient(top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: -o-linear-gradient(top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: linear-gradient(to top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    border-radius: 25.5px;
    top: 51px;
    left: 10px;
    color: black;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    }

    .text{
    position: absolute;
    width: 85px;
    height: 29px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    }
    
    .button1:hover{
        background-color: greenyellow;
    }
    .button1:active{
        background-color: blue;
    }

    .button2:hover{
    background: -webkit-linear-gradient(-110deg, #C3D600, #C3D600 50%, #A5B400 50%);
    background: -o-linear-gradient(-160deg, #C3D600, #C3D600 50%, #A5B400 50%);
    background: linear-gradient(-160deg, #C3D600, #C3D600 50%, #A5B400 50%);
    }
    .button2:active{
        background-color: blue;
    }
    
    .button3:hover{
    background: -webkit-linear-gradient(bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: -o-linear-gradient(bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: linear-gradient(to bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    }
    .button3:active{
        background-color: blue;

    }